<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">NBS - Design History</h1>
      <ol class="govuk-list app-posts">
        <li class="app-posts__item">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="joint-bookings">
              Enabling Joint bookings for up to 2 people</a>          </h2>
          <p class="app-posts__date govuk-!-font-size-16">
            <time datetime="2024-11-26T09:21:33Z">
              3 March 2025</time>
          </p>
        </li>        
        <li class="app-posts__item">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="rsv-pregnancy">
              Designing a pregnancy self-referral journey for RSV </a>          </h2>
          <p class="app-posts__date govuk-!-font-size-16">
            <time datetime="2024-11-26T09:21:33Z">
              3 March 2025</time>
          </p>
        </li>
        <li class="app-posts__item">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="what-is-nbs">
              What is the national booking service?</a>          </h2>
          <p class="app-posts__date govuk-!-font-size-16">
            <time datetime="2024-11-26T09:21:33Z">
              3 March 2025</time>
          </p>
        </li>
    </ol>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
