<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">

  <a class="nhsuk-back-link__link" href="design-history">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">Designing a pregnancy self-referral journey for RSV</h1>
      <p class="app-document-header__metadata"><time datetime="2025-02-21T00:00:00.000Z">3 March 2025</time></p>

      <div class="app-prose-scope">
        <p class="govuk-body">As part of the RSV expansion we explored the options for adding a route for people who are 28 weeks pregnant or more.</p>
<p class="govuk-body">We hypothesised that the easiest way to include this route would be via a self-referral page.</p>
<h2 id="what-we-did" tabindex="-1" class="govuk-heading-l">What we did</h2>
<p class="govuk-body">We designed a new screen which is shown when a citizen is not age eligible.</p>
<figure><img src="/images/rsvpregsr.png" alt="Screenshot of pregnancy self referral page"></figure> 
<p>This follows the familiar pattern for self-referral that we use in the Covid-19 and Flu journeys. The main difference is that we've asked the user directly whether they are pregnant.  This is because covid and flu have more groups that qualify for self-referral.</p>
<p>We designed a new kick out screen, to be shown where users have selected that they are not over 28 weeks pregnant.</p>
<figure><img src="/images/rsvpregko.png" alt="Screenshot of pregnancy self referral page"></figure> 


<h2>Findings</h2>
<p>Users understood the self referral screen, and were able to understand the requirement to be over 28 weeks pregnant to book the vaccine.</p>
<p>As all participants understood the 28 week eligibility rule for getting the RSV vaccine they were not surprised when they saw the screen indicating they could not book an appointment because they were not yet eligible.</p>
<p>Some participants suggested they would like to book in advance, in anticipation of being over 28 weeks pregnant when they get the vaccine. As NBS currently only shows availability 21 days in advance, this would have to be explored as part of a bigger expansion to allow pregnant people to potentially book further in advance than 21 days.</p>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
