<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-covid.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

     <!-- <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back</a>
      </div>-->
      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back</a>
      </div>


            <h1 class="nhsuk-heading-xl">
                Do you want to book this appointment?
              </h1>


            <hr>
            <h2 class="nhsuk-heading-l">
                New appointment
              </h2>


              <h5 class="nhsuk-heading-xs">
                Site location
              </h5>

              <p>{{data['pharmacy']}}</p>


              <p class="nhsuk-u-padding-top-0">
                <a id="map_link_0" href="https://www.google.com/maps/place/Benjamin+Chemist/@51.562084,-0.0760146,17z/data=!3m1!4b1!4m6!3m5!1s0x48761c60d5fa851d:0xda497e41847bcaae!8m2!3d51.5620807!4d-0.0734397!16s%2Fg%2F1th81fc3?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D" rel="noreferrer" class="maplink">
                Map and directions (opens in Google maps)
                <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
                </a>
                </p>
                                    

                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    Date
                  </h5>

                <p class="nhsuk-card__description">
                  {{data['date']}}
                </p>

                <br>
        
                <table class="nhsuk-table">
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Name
                      </th>
                      <th role="columnheader" class="" scope="col">
                       Time
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Vaccination type
                        </th>
                      </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                    <caption class="nhsuk-table__caption">Booked for</caption>
                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">Jean Davidson</td>
                      <td class="nhsuk-table__cell ">{{data['hour']}}{{data['time']}}</td>
                      <td class="nhsuk-table__cell ">COVID-19</td>
                    </tr>
                    <!--<tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">Roger Davidson</td>
                      <td class="nhsuk-table__cell ">{{data['hour']}}{{data['time-2']}}</td>
                      <td class="nhsuk-table__cell ">COVID-19</td>
                    </tr>-->
                  </tbody>
                </table>        

            <h2 class="nhsuk-heading-l">
                Existing appointment
              </h2>


              <h5 class="nhsuk-heading-xs">
                Site location
              </h5>

              <p class="nhsuk-card__description">
                Integration Test Site<br>
                Site Address
            </p>

            <p class="nhsuk-body">
                <a id="map_link_0" href="https://www.google.com/maps/dir/?api=1&amp;origin=54.98320727160315%2c-1.7218005902406597&amp;destination=3+TYNE+VIEW%2c+LEMINGTON%2c+NEWCASTLE+UPON+TYNE%2c+TYNE+%26+WEAR%2c+NE15+8DE&amp;t=m" rel="noreferrer" class="maplink">
                Map and directions (opens in Google maps)
                <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
                </a>
                </p>
                                    

                <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                    Date
                  </h5>

                <p class="nhsuk-card__description">
                  Saturday 25 January
                </p>

                <br>
        
                <table class="nhsuk-table">
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Name
                      </th>
                      <th role="columnheader" class="" scope="col">
                       Time
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Vaccination type
                        </th>
                      </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                    <caption class="nhsuk-table__caption">Booked for</caption>
                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">Jean Davidson</td>
                      <td class="nhsuk-table__cell ">10am</td>
                      <td class="nhsuk-table__cell ">COVID-19</td>
                    </tr>
                    <!--<tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">Roger Davidson</td>
                      <td class="nhsuk-table__cell ">10:10am</td>
                      <td class="nhsuk-table__cell ">COVID-19</td>
                    </tr>-->
                  </tbody>
                </table>        

            <form action="confirmJointChange" method="get" class="form">

                <fieldset class="nhsuk-fieldset">
        
            <div class="nhsuk-form-group">
                <div class="nhsuk-radios">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-yes">
                      Yes, book my chosen appointment
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-no">
                      No, keep my existing appointment
                    </label>
                  </div>
            
                </div>
                </div>
            </fieldset>
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
        </form>
    
      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
