// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
// RSV custom styles //

a:hover {
    color: #7c2855;
    text-decoration: underline;
  }

// panel styles //

@media print {
  .govuk-panel {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .govuk-panel {
      font-size:2.25rem;
      line-height: 1.1111111111
  }
}

@media print {
  .govuk-panel {
      font-size: 24pt;
      line-height: 1.05
  }
}

@media(max-width: 40.0525em) {
  .govuk-panel {
      padding:15px;
      overflow-wrap: break-word;
      word-wrap: break-word
  }
}

.govuk-panel--confirmation {
  color: #fff;
  background: #00703c
}

@media print {
  .govuk-panel--confirmation {
      border-color: currentcolor;
      color: #000;
      background: none
  }
}

.govuk-panel__title {
  font-size: 2rem;
  line-height: 1.09375;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px
}

@media(min-width: 40.0625em) {
  .govuk-panel__title {
      font-size:3rem;
      line-height: 1.0416666667
  }
}

@media print {
  .govuk-panel__title {
      font-size: 32pt;
      line-height: 1.15
  }
}

.govuk-panel__title:last-child {
  margin-bottom: 0
}

.govuk-panel {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 35px;
  border: 5px solid transparent;
  text-align: center;
}

// NHS confirmation panel //

.nhsuk-panel {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 16px;
  background: #007f3b;
  border: 4px solid rgba(0,0,0,0);
  box-sizing: border-box;
  color: #fff;
  padding: 28px
}

@media(min-width: 40.0625em) {
  .nhsuk-panel {
      font-size:24px;
      font-size: 1.5rem;
      line-height: 1.29167
  }
}

@media print {
  .nhsuk-panel {
      font-size: 16pt;
      line-height: 1.25
  }
}

@media(min-width: 40.0625em) {
  .nhsuk-panel {
      margin-bottom:24px
  }
}

@media(max-width: 40.0525em) {
  .nhsuk-panel {
      padding:20px;
      overflow-wrap: break-word;
      word-wrap: break-word
  }
}

@media print {
  .nhsuk-panel {
      border-color: currentcolor;
      color: #212b32;
      background: none
  }
}

.nhsuk-panel__title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875;
  margin-bottom: 24px;
  margin-top: 0
}

@media(min-width: 40.0625em) {
  .nhsuk-panel__title {
      font-size:48px;
      font-size: 3rem;
      line-height: 1.125
  }
}

@media print {
  .nhsuk-panel__title {
      font-size: 26pt;
      line-height: 1.15
  }
}

@media(min-width: 40.0625em) {
  .nhsuk-panel__title {
      margin-bottom:32px
  }
}

.nhsuk-panel__title:last-child {
  margin-bottom: 0
}

// design history post styles //

.govuk-list {
  font-family: "Inter", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #212b32;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
  list-style-type: none;
}
@media print {
  .govuk-list {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .govuk-list {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .govuk-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media print {
  .govuk-list {
    color: #000000;
  }
}
@media (min-width: 40.0625em) {
  .govuk-list {
    margin-bottom: 20px;
  }
}
.govuk-list .govuk-list {
  margin-top: 10px;
}

.govuk-list > li {
  margin-bottom: 5px;
}

.govuk-list--bullet {
  padding-left: 20px;
  list-style-type: disc;
}

.govuk-list--number {
  padding-left: 20px;
  list-style-type: decimal;
}

.govuk-list--bullet > li,
.govuk-list--number > li {
  margin-bottom: 0;
}
@media (min-width: 40.0625em) {
  .govuk-list--bullet > li,
  .govuk-list--number > li {
    margin-bottom: 5px;
  }
}

.govuk-list--spaced > li {
  margin-bottom: 10px;
}
@media (min-width: 40.0625em) {
  .govuk-list--spaced > li {
    margin-bottom: 15px;
  }
}

.app-posts .app-posts__item {
  border-bottom: 1px solid #d8dde0;
  margin-bottom: 20px;
}
.app-posts .app-posts__date {
  color: #4c6272;
}

.govuk-heading-m, h3:not([class]) {
  color: #212b32;
  font-family: "Inter", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-heading-m, h3:not([class]) {
      font-size: 1.5rem;
      line-height: 1.25;
  }
}


@media (min-width: 40.0625em) {
  .app-document-header__metadata {
      font-size: 1rem;
      line-height: 1.5;
  }
}
.app-document-header__metadata {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #4c6272;
  max-width: 45em;
}

.app-prose-scope {
  margin-bottom: 30px;
}
@media (min-width: 40.0625em) {
  .app-prose-scope {
    margin-bottom: 50px;
  }
}
.app-prose-scope > *:first-child {
  margin-top: 0;
}
.app-prose-scope > *:last-child {
  margin-bottom: 0;
}
.app-prose-scope h1 {
  max-width: 15em;
}
.app-prose-scope h2 {
  max-width: 20em;
}
.app-prose-scope h3 {
  max-width: 30em;
}
.app-prose-scope h4,
.app-prose-scope h5,
.app-prose-scope h6,
.app-prose-scope p,
.app-prose-scope ul:not([class]),
.app-prose-scope ol,
.app-prose-scope img,
.app-prose-scope video {
  max-width: 38em;
}
.app-prose-scope abbr {
  border-bottom: 1px dotted #4c6272;
  cursor: help;
}
.app-prose-scope ins {
  text-decoration-style: double;
}
.app-prose-scope mark {
  background-color: #fff59d;
}
.app-prose-scope sub,
.app-prose-scope sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.app-prose-scope sup {
  top: -0.4em;
}
.app-prose-scope sub {
  bottom: -0.4em;
}
.app-prose-scope img {
  height: auto;
  max-width: 100%;
  width: auto;
}
.app-prose-scope figure {
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
@media (min-width: 40.0625em) {
  .app-prose-scope figure {
    margin-bottom: 30px;
  }
}
.app-prose-scope figure img {
  display: block;
  outline: 1px solid rgba(174, 183, 189, 0.5);
}
.app-prose-scope figure > .govuk-link img:hover {
  outline-color: #7c2855;
}
.app-prose-scope figure > .govuk-link img:active {
  outline-color: #002f5c;
}
:focus .app-prose-scope figure {
  background-color: #ffeb3b;
}
.app-prose-scope figcaption {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #4c6272;
  margin-top: 5px;
}
@media print {
  .app-prose-scope figcaption {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-prose-scope figcaption {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .app-prose-scope figcaption {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.app-prose-scope .govuk-table[tabindex] {
  display: block;
  overflow-x: auto;
  scrollbar-color: #aeb7bd #f0f4f5;
}
.app-prose-scope .govuk-table[tabindex]::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.app-prose-scope .govuk-table[tabindex]::-webkit-scrollbar-thumb {
  background: #aeb7bd;
}
.app-prose-scope .govuk-table[tabindex]:focus {
  box-shadow: 0 0 0 9px #212b32, 0 0 0 12px #ffeb3b;
  outline: 6px solid #ffffff;
}
.app-prose-scope .govuk-table[tabindex]:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
.app-prose-scope .govuk-table[tabindex]:focus-visible {
  box-shadow: 0 0 0 9px #212b32, 0 0 0 12px #ffeb3b;
  outline: 6px solid #ffffff;
}
.app-prose-scope .x-govuk-code__language--shell {
  background-color: #212b32;
  border: 3px solid #ffffff;
  -webkit-font-smoothing: auto;
  margin-left: -3px;
  margin-right: -3px;
}
.app-prose-scope .x-govuk-code__language--shell code {
  filter: invert(100%);
}

// nhsuk calendar styles //


.nhsuk-calendar-header {
  width: 14%;
  padding-left: 0;
  margin-bottom: 8px;
}

.nhsuk-calendar-header__content {
  margin-bottom: 0px;
}
@media (max-width: 48.0525em) {
  .nhsuk-calendar-header {
    display: none;
  }
}
  .nhsuk-calendar-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding: 0;
  }
  @media (max-width: 48.0525em) {
    .nhsuk-calendar-group {
      margin-bottom: 0px;
    }
  }
  .nhsuk-calendar-group + h2,
  .nhsuk-calendar-group + .nhsuk-heading-l,
  .nhsuk-calendar-group + h3,
  .nhsuk-calendar-group + .nhsuk-heading-m {
    padding-top: 0; /* [4] */
  }
  
  .nhsuk-calendar-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    width: 14%;
  }
  @media (max-width: 48.0525em) {
    .nhsuk-calendar-group__item {
      flex: 0 0 100%;
    }
  }
  .nhsuk-calendar-group__item .nhsuk-calendar {
    margin-bottom: 32px;
  }
  @media (max-width: 48.0525em) {
    .nhsuk-calendar-group__item .nhsuk-calendar {
      margin-bottom: 16px;
    }
    .nhsuk-calendar-group__item:last-child .nhsuk-calendar {
      margin-bottom: 0;
    }
  }

  .nhsuk-calendar-day {
    margin-bottom: 0;
    background: #ffffff;
    border: 1px solid #d8dde0;
    position: relative; /* [1] */
    width: 100%;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-calendar-day {
      margin-bottom: 0;
    }
  }

  .nhsuk-calendar-day__inactive {
    display: none;
  }

  @media (min-width: 40.0625em) {
    .nhsuk-calendar-day__inactive {
      margin-bottom: 0;
      background: #f0f4f5;
      border: 1px solid #d8dde0;
      position: relative; /* [1] */
      width: 100%;
      color: #aeb7bd;  
      display: flex;
    }
  }

  .nhsuk-calendar-day__content {
    padding: 16px;
  }
  .nhsuk-calendar-day__content > *:first-child {
    margin-top: 0;
  }
  .nhsuk-calendar-day__content > *:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-calendar-day__content {
      padding: 16px;
    }
  }

  .nhsuk-calendar__heading,
.nhsuk-calendar__metadata,
.nhsuk-calendar__description {
  margin-bottom: 16px;
}

.nhsuk-u-visually-hidden-calendar {
  overflow: visible;
}

@media (min-width: 48.0525em) {
  .nhsuk-u-visually-hidden-calendar {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
  }
}