<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>We found 2 places that match '{{data['location-input']}}'</h1>
      <p>Choose one of the following:</p>
      <ul class="nhsuk-list">
                  <li>
                      <a href="access-needs" id="result-0" class="link">Leeds, Kent, ME17</a>
                  </li>
                  <li>
                      <a href="access-needs" id="result-1" class="link">Leeds, Yorkshire and the Humber, LS1</a>
                  </li>
      </ul>
      <p>
          <a href="appt-postcode">
              None of these - try another town, city or postcode
          </a>
      </p>
  
  </div>  </div>
{% endblock %}
