<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

     <!-- <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back</a>
      </div>-->


            <h1 class="nhsuk-heading-l">
                You cannot book online
              </h1>



              <!--<div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">
                  <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    What you can do
                  </span>
                </h3>
                <p>Please wait for your GP to contact you when you need a vaccine.</p>
                <p>Right now, pharmacies with the RSV vaccine are only in Mid and South Essex, North east Essex or Suffolk as part of a new pharmacy trial.</p>
                <p>However, GPs offer the RSV vaccine anywhere in the UK.</p>
              </div>-->
            
                <p>There are no pharmacies within 60 miles of [location] offering RSV vaccinations.</p>
                <p>Currently, you can only book appointments at pharmacies if you are living in or near to Suffolk and North East Essex and Mid and South Essex.</p>
                <p>You can wait for your GP to contact you when you need a vaccine.</p>


                    <h5 class="nhsuk-card__heading nhsuk-heading-m">
                        Help us improve our website
                      </h5>

                    <p class="nhsuk-card__description">
                        Can you answer some questions about your visit today?
                    </p>

                    <p class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">
                        <a href="#">
                        Take our survey
                        
                        </a>
                        </p>

      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
