<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Meningitis B vaccination service
            </h1>

              <h3 class="nhsuk-heading-m">Men B journey - RELEASE 2</h3>

              <p>No technical implementation for 2 dose requirement - content only mitigation</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                <a href="v2/index" class="nhsuk-link">Get a meningitis B vaccine</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>
                            <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;"> 
              <li>
                <a href="v2/choose-date" class="nhsuk-link">choose a date</a><span class="nhsuk-u-font-weight-bold"> - no existing doses in imms history - book from tomorrow</span>
              </li>              
              <li>
                <a href="v2/choose-date-delayed" class="nhsuk-link">choose a date</a><span class="nhsuk-u-font-weight-bold"> - 1 existing dose in imms history - book from 28 days after dose 1</span>
              </li>              
              <li>
                <a href="v2/cya" class="nhsuk-link">check appointment details</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>              
              <li>
                <a href="v2/booking-complete" class="nhsuk-link">Booking complete</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>              
              </ul>
            </ul>   


              <h3 class="nhsuk-heading-m">Men B journey - MVP RELEASE 1</h3>

              <p>No technical implementation for 2 dose requirement - content only mitigation</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                <a href="mvp/index" class="nhsuk-link">Get a meningitis B vaccine</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>
                            <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;"> 
              <li>
                <a href="mvp/choose-date" class="nhsuk-link">choose a date</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>              
              <li>
                <a href="mvp/choose-date-proxy" class="nhsuk-link">choose a date</a><span class="nhsuk-u-font-weight-bold"> - Proxy content</span>
              </li>              
              <li>
                <a href="mvp/cya" class="nhsuk-link">check appointment details</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>              
              <li>
                <a href="mvp/cya-proxy" class="nhsuk-link">check appointment details</a><span class="nhsuk-u-font-weight-bold"> - Proxy content</span>
              </li>              
              <li>
                <a href="mvp/booking-complete" class="nhsuk-link">Booking complete</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>              
              <li>
                <a href="mvp/ineligible" class="nhsuk-link">Ineligible screen</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>
              <li>
                <a href="mvp/ineligible2" class="nhsuk-link">Ineligible screen - proxy</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>
                <li>
                <a href="mvp/details-no-match" class="nhsuk-link">PDS fail</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>
                <li>
                <a href="mvp/details-no-match2" class="nhsuk-link">PDS fail - proxy</a><span class="nhsuk-u-font-weight-bold"></span>
              </li>
              </ul>
            </ul>   


              
       



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
