<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-rsv.html' %}

<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->




              <div class="nhsuk-panel">
                <h1 class="nhsuk-panel__title">
                  Booking complete
                  </h1>
  
                <div class="nhsuk-panel__body">
                Your reference number<br><strong>1583033</strong>
                </div>
              </div>

              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
              
                <p class="nhsuk-card__description">Make a note of your booking reference number if you haven't entered an email or mobile number.  You'll need it to view or cancel your appointment.</p>
              </div>
          <hr>
          <h3 class="nhsuk-heading-l">
              Appointment details
            </h3>

                      <!--<table class="nhsuk-table">
                        <thead role="rowgroup" class="nhsuk-table__head">
                          <tr role="row">
                            <th role="columnheader" class="" scope="col">
                              Reference number
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Date of birth
                            </th>
                            <th role="columnheader" class="" scope="col">
                             Time
                            </th>
                            </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">1583033</td>
                            <td class="nhsuk-table__cell">4 March 1948</td>
                            <td class="nhsuk-table__cell ">{{data['hour'] | default('10') }}{{data['time'] | default(':30am') }}</td>
                          </tr>
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">1583034</td>
                            <td class="nhsuk-table__cell">6 May 1945</td>
                            <td class="nhsuk-table__cell ">{{data['hour'] | default('10') }}{{data['time-2'] | default(':40am') }}</td>
                          </tr>
                        </tbody>
                      </table>-->        

                  <h5 class="nhsuk-heading-xs">
                      Site location
                    </h5>

                    <p>{{data['pharmacy']}}</p>


                    <p class="nhsuk-u-padding-top-0">
                      <a id="map_link_0" href="https://www.google.com/maps/place/Benjamin+Chemist/@51.562084,-0.0760146,17z/data=!3m1!4b1!4m6!3m5!1s0x48761c60d5fa851d:0xda497e41847bcaae!8m2!3d51.5620807!4d-0.0734397!16s%2Fg%2F1th81fc3?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D" rel="noreferrer" class="maplink">
                      Map and directions (opens in Google maps)
                      <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
                      </a>
                      </p>
                                          

                      <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                          Date
                        </h5>
  
                      <p class="nhsuk-card__description">
                        {{data['date']}} at {{data['hour'] | default('10') }}{{data['time'] | default(':30am') }}
                      </p>

                      <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                        Vaccination type
                      </h5>

                    <p class="nhsuk-card__description">
                      Flu
                    </p>

                      <br>
              
            



                  <h5 class="nhsuk-card__heading nhsuk-heading-m">
                      Help us improve our website
                    </h5>

                  <p>
                      Can you answer some questions about your visit today?
                  </p>

                  <p>
                      <a href="#">
                      Take our survey
                      
                      </a>
                      </p>


          <div class="nhsuk-card nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="/images/AdobeStock_996610811_2.jpeg" alt="">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="https://www.nhs.uk/healthier-families/recipes/">Visit the Healthier Families website</a>
              </h2>
              <p class="nhsuk-card__description">Find over 100 healthy and easy-to-follow recipes to help you feel your best this winter.</p>
          
            </div>
          </div>
    </div>
    <!-- End of content -->

  </div>
</div>
{% endblock %}
