<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Other work
      </h1>

      <p>Useful or interesting stuff, including examples of enhanced functions to aid user testing using the prototype.</p>
      
    
      <h2 class="nhsuk-heading-s">Enhanced location search functions - C19V-6593</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="location-search/appt-postcode" class="nhsuk-link">Search by partial postcodes and town names</a></li>
      <li><a href="location-search/appt-postcode-ac" class="nhsuk-link">Autocomplete search</a></li>
      </ul>

      <h2 class="nhsuk-heading-s">Bill gets his RSV demo journey</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-demo/book/choose-appt" class="nhsuk-link">RSV Demo journey (from app)</a></li>
        </ul>

      <h2 class="nhsuk-heading-s">NBS function enhancements</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="dob-reroute" class="nhsuk-link">Date of birth validation and routing</a></li>
        </ul>
  
      <h2 class="nhsuk-heading-s">MYA stuff</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="mya-v5/single-session-time-capacity" class="nhsuk-link">Capacity calculator</a></li>
        <li><a href="mya-v5/site-selector" class="nhsuk-link">MYA demo (March 25)</a></li>
        <li><a href="calendar-comp" class="nhsuk-link">Calendar (MYA)</a></li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
