<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-rsv.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Book, change or cancel an RSV (respiratory syncytial virus) vaccination at a pharmacy
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>Use this service to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>book a vaccination appointment at a pharmacy</li>
        <li>check your existing appointment details</li>
        <li>change your appointment</li>
        <li>cancel your appointment</li>
      </ul>


      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label" style="font-size: 24px;">
          <span role="text">
            Important
          </span>
        </h3>
        <p>Currently, you can only book online appointments at pharmacies in some areas of Essex, Lancashire, Leicestershire, London, Merseyside, Suffolk, the North West, and the West Midlands.</p>
        <p>You can currently use this service if either:
          <ul>
            <li>you’re aged 75-79</li>
            <li>you’re pregnant (over 28 weeks)</li>
          </ul>
        </p>

        <p>More pharmacies will offer RSV vaccinations soon. If you cannot find an appointment in your area, please contact your GP surgery.</p>
      </div>

      <h2 class="nhsuk-heading-l" style="font-size: 32px;">
        Joint booking
      </h2>

      <p>You can book appointments for 2 people.</p>


      <h2 class="nhsuk-heading-l" style="font-size: 32px;">
        How it works
      </h2>

      <p>The service will check if you need a vaccine before you book.</p>

      
      <a class="nhsuk-button" href="joint-booking">
        Start now
      </a>
      <br>


      <h2 class="nhsuk-heading-l" style="font-size: 32px;">
        Getting an appointment at a GP surgery</h2>

      <p>You can also get an RSV vaccination at a GP surgery.</p>

      <p>Your GP surgery may contact you about getting the RSV vaccine.  This may be by letter, text, phone call or email.  You do not need to wait to be contacted before booking your vaccination.</p>

      <p>If you're over 80, you can only get vaccinated at your GP surgery. You cannot book online.</p>

            <h2 class="nhsuk-heading-l" style="font-size: 32px;">
        Book over the phone</h2>

        <p>You can call 119 free of charge to book over the phone if you cannot book online.</p>

        <p>You can speak to a translator if you need to.</p>

        <h2 class="nhsuk-heading-l" style="font-size: 32px;">
          If you have difficulties communicating or hearing
        </h2>

        <p>You can use textphone 18001 or the <a href="#">NHS 119 British Sign Language (BSL) interpreter service</a> if you have difficulties communicating or hearing, or if you are a BSL user.</p>

      <h2 class="nhsuk-heading-l" style="font-size: 32px;">
        Find a pharmacy walk-in service</h2>

      <p>You can <a href="#">find a walk-in RSV vaccination site</a> to get a vaccination without an appointment. You do not need to be registered with a GP.</p>


      <h2 class="nhsuk-heading-l" style="font-size: 32px;">
        More information
      </h2>

      <p>
          <a href="#">Find out more about RSV (respiratory syncytial virus)</a>
      </p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Page last reviewed: {{ date({day: 'numeric', month: 'long', year: 'numeric'}, {'day': -8}) }}<br>
        Next review due: 1 {{ date({month: 'long', year: 'numeric'}, {'month': +3}) }}
      </p>
      
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
