<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Autumn/Winter 25 work
            </h1>




        <h3 class="nhsuk-heading-m">COVID-19 journey - A/W25</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="covid-aw25/book/index" class="nhsuk-link">Book a COVID-19 vaccination</a></li>
                  <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;"> 
                <li><a href="covid-aw25/book/choose-date" class="nhsuk-link">Choose date page</a> - 10 dates on list, Campaign opening inset text</li>
                <li><a href="covid-aw25/book/contact-details" class="nhsuk-link">contact details page</a> - new input method - C19V-6814</li>
                <li><a href="covid-aw25/book/booking-complete" class="nhsuk-link">Booking complete page</a> - return to start link</li>
                <li><a href="covid-aw25/book/eligible-covid" class="nhsuk-link">Self-referral page</a> - criteria for A/W25</li>
              </ul> 
          </ul>         
      </ul>         



        <h3 class="nhsuk-heading-m">Infant flu journey</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="flu-v3/book/index" class="nhsuk-link">Version 3</a> - Collect name at start of journey</li>
          <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;"> 
            <li><a href="flu-v3/book/eligible-flu" class="nhsuk-link">Self-referral page</a></li>
                <li><a href="flu-v3/book/cya" class="nhsuk-link">MVP confirmation page</a> - additional feature</li>
              <li><a href="flu-v3/book/appt-postcode" class="nhsuk-link">Enhanced location search</a> - additional feature</li>
              <li><a href="flu-v3/details-no-match" class="nhsuk-link">PDS fail</a> - UPDATED PAGE</li>
              <li><a href="flu-v3/location-no-match" class="nhsuk-link">location search fail</a> - NEW PAGE</li>
              <li><a href="flu-v3/ineligible2" class="nhsuk-link">Ineligible</a> - UPDATED PAGE</li>
              <li><a href="choose-appt" class="nhsuk-link">Check name and NHS no</a> - UPDATED PAGE</li>
              <li><a href="flu-v3/book/eligible-2-3" class="nhsuk-link">2-3 2 dose question</a> - NEW PAGE</li>
              <li><a href="flu-v3/book/second-dose-campaign-end" class="nhsuk-link">second dose after end of campaign</a> - NEW PAGE</li>
              </ul> 
          </ul>      

      <h3 class="nhsuk-heading-m">Infant flu journey - EARLY VERSIONS</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="flu-v2/book/index" class="nhsuk-link">Version 1</a> - change content to be agnostic of who's booking</li>
        <li><a href="flu-v2-2/book/index" class="nhsuk-link">Version 2</a> - Filter question for proxy booking</li>
        </ul>         
  
        <h3 class="nhsuk-heading-m">RSV journey - A/W25</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-aw25/book/index" class="nhsuk-link">Book an RSV vaccination</a></li>
                          <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;"> 
                <li><a href="rsv-aw25/ineligible" class="nhsuk-link">Ineligible</a> - updated locations JULY 2025</li>
                <li><a href="rsv-aw25/no-sites" class="nhsuk-link">Out of area</a> - updated locations JULY 2025</li>
                <li><a href="rsv-aw25/no-sites-access-needs" class="nhsuk-link">No sites available</a> - updated locations JULY 2025</li>
              </ul> 

          </ul>         
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
