<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Current work
            </h1>
                    <h3 class="nhsuk-heading-m">RSV journey</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-v2/index" class="nhsuk-link">book an RSV vaccination</a><span class="nhsuk-u-font-weight-bold"></span></li>
        <li><a href="rsv-v2/self-referral" class="nhsuk-link">self-referral</a><span class="nhsuk-u-font-weight-bold"></span></li>
        <li><a href="rsv-v2/proxy-self-referral" class="nhsuk-link">PROXY self-referral</a><span class="nhsuk-u-font-weight-bold"></span></li>
        <li><a href="rsv-v2/self-referral-65-74" class="nhsuk-link">65-74 AT RISK self-referral</a><span class="nhsuk-u-font-weight-bold"></span></li>
        <li><a href="rsv-v2/proxy-self-referral-65-74" class="nhsuk-link">PROXY 65-74 AT RISK self-referral</a><span class="nhsuk-u-font-weight-bold"></span></li>
              </ul> 


                    <h3 class="nhsuk-heading-m">Flu journey - A/W26</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="flu/index" class="nhsuk-link">Book a flu vaccination</a><span class="nhsuk-u-font-weight-bold"></span></li>
                  <li><a href="flu/local-booking" class="nhsuk-link">local booking found</a> (ELiD)</li><br>   
                          <li>Staggered opening (OVER 16s)</li>     
        <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;">
                  <li><a href="flu/staggered-web" class="nhsuk-link">Staggered opening FIRST PERSON</a></li>
                  <li><a href="flu/staggered-web-proxy" class="nhsuk-link">Staggered opening PROXY</a></li>
                  <li><a href="flu/self-referral-early" class="nhsuk-link">Self referral over 16s</a> - 17 Aug to 29 Sep</li>   
                  <li><a href="flu/self-referral" class="nhsuk-link">Self referral screen over 16s</a> - 30 Sep onwards</li><br>
                  </ul>   
                  <li>Flu A/W eligibility screens</li>     
        <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;">
                            <li><a href="flu/4-15-self-referral" class="nhsuk-link">Self-referral 4-15s</a> 17 Aug to 29 Nov</li>   
                            <li><a href="flu/2-8-second-dose" class="nhsuk-link">2nd dose 2-8s</a> 17 Aug onwards</li>   
                            <li><a href="flu/second-dose-campaign-end" class="nhsuk-link">2nd dose 2-8s - campaign end</a> 17 Aug onwards</li>   
                            <li><a href="flu/second-dose-ko" class="nhsuk-link">2nd dose 2-8s - kickout</a> 17 Aug onwards</li>   
        </ul>
              </ul> 




              
       



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
