<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-rsv.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}


      <form action="manageAppointment" method="get" class="form">

        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                <h1 class="nhsuk-fieldset__heading">
                  What would you like to do with your appointment?
                </h1>
              </legend>

              <h3 class="nhsuk-heading-m">
                Your appointment details
              </h3>


            <div class="nhsuk-card nhsuk-card--feature">
                <div class="nhsuk-card__content">
                    <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                        Site location
                      </h5>

                    <p class="nhsuk-card__description">
                        Crosby Lakeside Centre<br>
                        Crosby Marina<br>
                        Sefton<br>
                        L22 1AP
                    </p>

                    <p class="nhsuk-body">
                        <a id="map_link_0" href="https://www.google.com/maps/dir/?api=1&amp;origin=54.98320727160315%2c-1.7218005902406597&amp;destination=3+TYNE+VIEW%2c+LEMINGTON%2c+NEWCASTLE+UPON+TYNE%2c+TYNE+%26+WEAR%2c+NE15+8DE&amp;t=m" rel="noreferrer" class="maplink">
                        Map and directions (opens in Google maps)
                        <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
                        </a>
                        </p>
                        

                        <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                            Date and time
                          </h5>
    
                        <p class="nhsuk-card__description">
                            Thursday 18 September at 10:15am
                        </p>
    
                
                        <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                            Vaccination type
                          </h5>
    
                        <p class="nhsuk-card__description">
                            RSV (Respiratory syncytial virus)
                        </p>

                  </div>
        
            </div>        
            <div class="nhsuk-radios">
      
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="change">
                  <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-change">
                    View other available appointments
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="cancel">
                  <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-cancel">
                    Cancel my appointment
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="home">
                    <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-home">
                      Go back to start
                    </label>
                  </div>
  
              </div>
    
            </fieldset>
          
          </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>    </form>
    
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
