<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-covid.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}

        <form action="booking-complete" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
                Enter contact details
              </h1>
          </legend>

            <h2 class="nhsuk-heading-s">
                Email address (optional)
              </h2>
        
              <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Email address
            </label>
            <input class="nhsuk-input" id="email" name="email" type="text">
          </div> 
          
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="confirm-email">
              Confirm email address
            </label>
            <input class="nhsuk-input" id="confirm-email" name="confirm-email" type="text">
          </div> 
        </fieldset>

        <h2 class="nhsuk-heading-s">
            Mobile number (optional)
          </h2>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Mobile number
            </label>
            <input class="nhsuk-input" id="email" name="email" type="text">
          </div> 
          
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="confirm-email">
              Confirm mobile number
            </label>
            <input class="nhsuk-input" id="confirm-email" name="confirm-email" type="text">
          </div> 
        </fieldset>
        
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Complete booking
        </button>
    </form>

    <p class="nhsuk-body">If you do not have a mobile number or email address</p>

    <a class="nhsuk-button nhsuk-button--secondary" href="landline">
        Continue to enter landline
      </a>

      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
