<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Spring 26 work
            </h1>





              <h3 class="nhsuk-heading-m">COVID-19 journey</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="covid-s26/index" class="nhsuk-link">Book a COVID-19 vaccination</a> - Includes joint bookings with co-admin -<span class="nhsuk-u-font-weight-bold"> MULTI-COHORT</span></li>
          <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;">
        <li><a href="covid-s26/choose-pharmacy" class="nhsuk-link">GP availability</a> - show their GP at top of site list</li>
        <li><a href="covid-s26/joint/cya" class="nhsuk-link">CYA page iteration</a> - Joint</li>
        <li><a href="covid-s26/cya" class="nhsuk-link">CYA page iteration</a> - Single</li>
              </ul>
            </ul>        

  
        <h3 class="nhsuk-heading-m">RSV journey - S26</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-s26/index" class="nhsuk-link">Book an RSV vaccination</a> - Includes joint bookings - <span class="nhsuk-u-font-weight-bold">SINGLE-COHORT</span></li>
              </ul> 

              
       



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
