<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="index-design">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back</a>
      </div>

      <!--<h2 class="nhsuk-heading-l">E2E IT2 - December 2024</h2>

      <h3 class="nhsuk-heading-m">Includes:</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Join booking for up to 2 people</li>
      </ul>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="covid-v2/book/index">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Book , cancel or change an RSV appointment</a>
          </div>-->

  
      <h1 class="nhsuk-heading-xl">COVID-19</h1>

      <h2 class="nhsuk-heading-l">E2E IT1 - August 24</h2>

      <h3 class="nhsuk-heading-m">Includes:</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>COVID-19 booking with co-admin journey.</li>
        <li>Manage existing booking journey.</li>
        <li>NHS Campaigns links on confirmation page.</li>
      </ul>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="covid/book/index">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Book , cancel or change a COVID-19 appointment</a>
          </div>


      <p><a href="covid/booking-complete" class="nhsuk-link">Confirmation page - August 24</a></p>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
