<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h2>Previously Selected Month:</h2>
    <p id="monthName"></p>
    <a href="index.html">Change Month</a>

    <script>
        const months = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        function displayStoredMonth() {
            let storedMonthNumber = localStorage.getItem("monthNumber");
            if (storedMonthNumber) {
                document.getElementById("monthName").innerText = 
                    "You previously selected: " + months[storedMonthNumber - 1];
            } else {
                document.getElementById("monthName").innerText = "No month stored.";
            }
        }

        displayStoredMonth();
    </script>
    </div>
  </div>
{% endblock %}
