<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-nhs-uk.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">Home</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">NHS services</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">Vaccination and booking services</a>
    </li>
  </ol>

  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a>

</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
  <h1>
    
      Get a free RSV vaccination
    
  </h1>
  
    <p class="nhsuk-lede-text">The RSV vaccine can help stop you getting seriously ill from infections caused by respiratory syncytial virus (RSV).</p>
    


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    

    
      
        
          



    <p data-block-key="h8j21">You can get a free RSV vaccination on the NHS if:</p><ul><li data-block-key="eutdr">you're 28 weeks pregnant or more – this will help protect your baby for the first few months after they're born</li><li data-block-key="1eotn">you're aged 75 to 79</li><li data-block-key="9rifk">you turned 80 years old after 1 September 2024</li></ul>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p data-block-key="hccg1">There are different ways to get the vaccine. These can vary depending on your age and where you live. You can:</p><ul><li data-block-key="4v4g6">book an appointment with a GP</li><li data-block-key="2jqr3">visit a pharmacy</li><li data-block-key="bq3pr">book a pharmacy appointment online</li></ul>
</div>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Get vaccinated at your GP surgery</h2>
    

    
      
        
          



    <p data-block-key="io83g">If you're registered with a GP, you can get vaccinated at your GP surgery.</p><p data-block-key="595m6">Contact your GP surgery to book an appointment.</p><p data-block-key="dfltk">Your surgery may send you a letter, text or email inviting you to get a vaccination, but you do not need to wait to be invited if you're eligible.</p>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>Get vaccinated at a pharmacy (only available in some areas)</h2>
    

    
      
        
          



    <p data-block-key="15ian">If you're pregnant or aged 75 to 79, you can also get a free RSV vaccination at some pharmacies in these areas of England:</p>

        
      
    
      
        
          

<div class="nhsuk-expander-group">
  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Essex
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="55rwk">Basildon</li><li data-block-key="cpa0d">Castle Point and Rochford</li><li data-block-key="cudsq">Colchester</li><li data-block-key="fhff8">Mid Essex</li><li data-block-key="iupr">North Essex coast</li><li data-block-key="eeckb">Southend-on-Sea</li></ul>

        
      
    
  </div>
</details>


  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Lancashire
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="f6446">Blackburn with Darwen</li><li data-block-key="aqu">Burnley</li><li data-block-key="aomcu">Burscough</li><li data-block-key="clv8o">Hyndburn</li><li data-block-key="45tbi">Ormskirk</li><li data-block-key="3njdd">Preston</li></ul>

        
      
    
  </div>
</details>


  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Leicestershire
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="55rwk">Leicester</li></ul>

        
      
    
  </div>
</details>


  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    London
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="l24v6">Barking and Dagenham</li><li data-block-key="3s0r">Barnet</li><li data-block-key="5gppb">Camden</li><li data-block-key="1tr6b">Croydon</li><li data-block-key="b1ctp">Ealing</li><li data-block-key="eco60">Enfield</li><li data-block-key="2q8u">Greenwich</li><li data-block-key="6c289">Hackney</li><li data-block-key="79pnc">Hammersmith and Fulham</li><li data-block-key="448ae">Havering</li><li data-block-key="fgq67">Hillingdon</li><li data-block-key="5b56p">Hounslow</li><li data-block-key="9hr0a">Islington</li><li data-block-key="9sg1g">Lambeth</li><li data-block-key="cp2cn">Lewisham</li><li data-block-key="7534e">Merton</li><li data-block-key="62bsb">Newham</li><li data-block-key="fiovt">Redbridge</li><li data-block-key="4bq55">Tower Hamlets</li><li data-block-key="fb9i0">Waltham Forest</li><li data-block-key="9e4kr">Westminster</li></ul>

        
      
    
  </div>
</details>


  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Merseyside
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="f6446">Knowsley</li><li data-block-key="ej0at">Liverpool</li><li data-block-key="1f3l6">Sefton</li><li data-block-key="8irju">St Helens</li><li data-block-key="avr6i">Wirral</li></ul>

        
      
    
  </div>
</details>


  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Suffolk
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="55rwk">Greater Suffolk</li><li data-block-key="eg1g4">Ipswich</li><li data-block-key="43dl4">Sudbury</li><li data-block-key="7vsll">Suffolk coast</li></ul>

        
      
    
  </div>
</details>


  
    

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    West Midlands
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      
        
          



    <ul><li data-block-key="55rwk">Birmingham</li><li data-block-key="31dnf">Sandwell</li><li data-block-key="4n3n5">Wolverhampton</li></ul>

        
      
    
  </div>
</details>


  
</div>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h3 data-block-key="wupeb">Book an appointment online</h3><p data-block-key="as7ki">You can book an appointment online at a pharmacy that offers the RSV vaccination. You need to be registered with a GP to do this.</p><p data-block-key="251eh">If you've already booked an appointment, you can check, change, or cancel it.</p>

        
      
    
      
        
          

<div class="nhsuk-action-link">
  
  <a class="nhsuk-action-link__link" href="spring26/rsv-s26/index">
  
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Book, change or cancel an RSV vaccination at a pharmacy</span>
  </a>
</div>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h3 data-block-key="wupeb">Get vaccinated without an appointment</h3><p data-block-key="aqj50">You can get an RSV vaccination at some pharmacies without needing an appointment.</p><p data-block-key="7ocp2">You do not need to be registered with a GP to do this.</p>

        
      
    
      
        
          

<div class="nhsuk-action-link">
  
  <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/vaccination-and-booking-services/find-a-pharmacy-where-you-can-get-a-free-rsv-vaccination">
  
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Find a pharmacy where you can get a free RSV vaccination</span>
  </a>
</div>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h2 data-block-key="nlj3b"><b>If you're pregnant</b></h2><p data-block-key="8sum7">The RSV vaccine is recommended during every pregnancy (from 28 weeks onwards) to help protect your baby after they're born.</p><p data-block-key="8n6el">If you're 28 weeks pregnant or more, you can get vaccinated by your maternity service, GP surgery, or at a pharmacy offering free RSV vaccinations.</p>
</div>

        
      
    
  </section>


  
    


  <section>

    
    
      <h2>More information</h2>
    

    
      
        
          



    <ul><li data-block-key="cudl7"><a href="/vaccinations/rsv-vaccine/">Find out more about the RSV vaccine</a></li><li data-block-key="1e8em"><a href="/conditions/respiratory-syncytial-virus-rsv/">Find out more about RSV</a></li><li data-block-key="ctcqu"><a href="/pregnancy/keeping-well/vaccinations/">Vaccinations in pregnancy</a></li></ul>

        
      
    
  </section>


  


      </div>

      

    </div>
  </article>

  

  

  
    <div>
      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
        Page last reviewed: 27 October 2025
        <br>
        Next review due: 15 June 2026
      </p>
    </div>
  

  







        
        
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            
          </div>
        </div>    
    </div>
  {% endblock %}
