<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Book a vaccination prototype
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h3>Respiratory Syncytial Virus (RSV)</h3>

      <h4>Version 6 - August 24</h4>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-v6/book/index" class="nhsuk-link">Book an appointment</a></li>
      <li><a href="rsv-v6/app/index" class="nhsuk-link">Book an appointment (via NHS app)</a></li>
      <li><a href="rsv-v6/manage/index" class="nhsuk-link">Manage an appointment</a></li>
      </ul>


      <h3>COVID</h3>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="covid/book/nhs-no-radio" class="nhsuk-link">Book an appointment</a></li>
      <li><a href="covid/manage/ref-no" class="nhsuk-link">Manage an appointment</a></li>
      </ul>

      <p><a href="covid/booking-complete" class="nhsuk-link">Confirmation page - August 24</a></p>

      <h3>Flu</h3>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="flu/book/nhs-no-radio" class="nhsuk-link">Book an appointment</a></li>
      <li><a href="flu/manage/ref-no" class="nhsuk-link">Manage an appointment</a></li>
      </ul>

      <p><a href="flu/booking-complete" class="nhsuk-link">Confirmation page - August 24</a></p>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
