<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Book a vaccination prototype
      </h1>

      <!--<div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
      
        <p>To give others access to this prototype:</p>
        <ul>
          <li>Password : aug24</li>
        </ul>
      </div>-->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <h2 class="nhsuk-heading-l">Spring 2025 work</h2>


      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <h3 class="nhsuk-heading-m">Joint bookings HANDOVER Feb 2025</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="rsv-v7-2/book/index" class="nhsuk-link">RSV</a> - Book only</li>
          <li><a href="covid-v2-2/book/index" class="nhsuk-link">Covid-19</a> - Book only</li>
          </ul>         
          
          <h3 class="nhsuk-heading-xs">Additional pages</h3>
    
        <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-v7-2/booking-no-match-2" class="nhsuk-link">booking details not matched</a></li>
        <li><a href="rsv-v7-2/ineligible2" class="nhsuk-link">Eligibility fail</a></li>
        <li><a href="rsv-v7-2/details-already-match" class="nhsuk-link">Added same person twice</a></li>
        </ul>

          </div>     
          
          <h3 class="nhsuk-heading-s">Joint Bookings RESEARCH JOURNEYS - January 2025</h2>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <!--<li><a href="rsv-v7/book/index" class="nhsuk-link">RSV - Version 1</a> (joint appointment slot selection) - Booking journey only</li>
        <li><a href="rsv-v7-2/book/index" class="nhsuk-link">RSV - Version 2</a> (separate appointment slot selection) - Book and manage</li>-->
        <li><a href="covid-v2/book/index" class="nhsuk-link">Covid-19 - Over 65</a> - Book and manage</li>
        <li><a href="covid-v2-2/book/index" class="nhsuk-link">Covid-19 - Under 65</a> - Book and manage</li>
        <li><a href="rsv-v7-2/book/index" class="nhsuk-link">RSV</a> - Book and manage</li>
        </ul>

  
      
      <h2 class="nhsuk-heading-s">RSV Pregnancy Self Referral - December 2024</h2>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="rsv-v6/pregnant/index" class="nhsuk-link">RSV</a></li>
        </ul>
        <hr>
      <h2 class="nhsuk-heading-l">Autumn 2024 work</h2>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Autumn/winter 2024
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l">MECC messages - December 2024</h2>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="covid/book/booking-complete2" class="nhsuk-link">Covid</a></li>
            <li><a href="flu/book/booking-complete2" class="nhsuk-link">Flu</a></li>
            </ul>
    
            <h2 class="nhsuk-heading-l">MYA transition pages RSV - November 24</h2>
    
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="rsv-v6/mya-transition-date" class="nhsuk-link">Date selection</a></li>
            <li><a href="rsv-v6/index-transition" class="nhsuk-link">Start page</a></li>
            </ul>
    
    
          <h2 class="nhsuk-heading-l">Confirmation pages - August 24</h2>
    
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="rsv-v6/book/booking-complete" class="nhsuk-link">RSV</a></li>
            <li><a href="covid/book/booking-complete" class="nhsuk-link">COVID-19</a></li>
            <li><a href="flu/book/booking-complete" class="nhsuk-link">Flu</a></li>
            </ul>    
        </div>
      </details>
      <hr>

      <h2 class="nhsuk-heading-l">End to End journeys</h2>

        
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="rsv-v7/book/index">RSV</a>
              </h2>
              <p class="nhsuk-card__description">Book, change or cancel a COVID-19 appointment.</p>
      
      
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="covid-v2/book/index">COVID-19</a>
              </h2>
              <p class="nhsuk-card__description">Book, change or cancel a COVID-19 vaccination.</p>
      
      
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="flu/book/index">Flu</a>
              </h2>
              <p class="nhsuk-card__description">Book, change or cancel a free NHS flu vaccination.</p>
      
      
            </div>
          </div>
      
        </li>
      </ul>

      <hr>
      <h2 class="nhsuk-heading-l">Kickout/error pages - August 24</h2>
    
      <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="rsv-v7-2/no-sites" class="nhsuk-link">No sites available - RSV ONLY</a></li>
      <li><a href="rsv-v7-2/time-out" class="nhsuk-link">Time-out - book</a></li>
      <li><a href="rsv-v7-2/time-out-manage" class="nhsuk-link">Time-out - manage</a></li>
      <li><a href="rsv-v7-2/details-no-match" class="nhsuk-link">details not matched</a></li>
      <li><a href="rsv-v7-2/booking-no-match" class="nhsuk-link">booking details not matched</a></li>
      <li><a href="rsv-v7-2/ineligible" class="nhsuk-link">ineligible</a></li>
      <li><a href="rsv-v7-2/cancel-fail" class="nhsuk-link">Appointment cancellation failure</a></li>
      <li><a href="rsv-v7-2/change-fail" class="nhsuk-link">Appointment change failure</a></li>
      <li><a href="rsv-v7-2/date-fail" class="nhsuk-link">Appointment date no longer available</a></li>
      <li><a href="rsv-v7-2/error" class="nhsuk-link">Error page</a></li>
      <li><a href="rsv-v7-2/technical-error" class="nhsuk-link">Technical error page</a></li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
