<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Book a vaccination prototype
      </h1>

            <h2 class="nhsuk-heading-l">Kickout/error pages </h2>
    
      <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="invite-email" class="nhsuk-link">Email invite</a></li>
      <li><a href="invite-text3" class="nhsuk-link">Text invite</a></li>
      </ul>


      <!--<div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
      
        <p>To give others access to this prototype:</p>
        <ul>
          <li>Password : aug24</li>
        </ul>
      </div>-->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="autumn-winter26/index">Autumn/winter 2026</a>
              </h2>
              <p class="nhsuk-card__description">COVID, flu and RSV, including:
                <ul>
                  <li>Joint bookings with co-admin</li>
                </ul>
              </p>
      
      
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="spring26/index">Spring 2026</a>
              </h2>
              <p class="nhsuk-card__description">COVID and RSV, including:
                <ul>
                  <li>GP booking in NBS</li>
                  <li>Multi-cohort joint bookings (COVID)</li>
                </ul>
              </p>
      
      
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="autumn-winter25/index">Autumn/winter 2025</a>
              </h2>
              <p class="nhsuk-card__description">Flu, COVID and RSV, including:
                <ul>
                  <li>Proxy users</li>
                  <li>Single cohort joint bookings (RSV)</li>
                </ul>
              </p>
      
      
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="spring25/index">Spring 2025</a>
              </h2>
              <p class="nhsuk-card__description">COVID and RSV, inluding:
                <ul>
                  <li>Joint bookings in RSV</li>
                  <li>Pregnancy self-referral in RSV</li>
                </ul>
              </p>
      
      
            </div>
          </div>
      
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="autumn-winter24/index">Autumn/winter 2024</a>
              </h2>
              <p class="nhsuk-card__description">Flu, COVID and RSV for A/W24</p>
      
      
            </div>
          </div>
      
        </li>
      </ul>      


      <hr>
      <h2 class="nhsuk-heading-l">Kickout/error pages </h2>
    
      <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="no-sites" class="nhsuk-link">No sites available - RSV ONLY</a></li>
      <li><a href="time-out" class="nhsuk-link">Time-out - book</a></li>
      <li><a href="time-out-manage" class="nhsuk-link">Time-out - manage</a></li>
      <li><a href="details-no-match" class="nhsuk-link">details not matched</a></li>
      <li><a href="booking-no-match" class="nhsuk-link">booking details not matched</a></li>
      <li><a href="ineligible" class="nhsuk-link">ineligible</a></li>
      <li><a href="cancel-fail" class="nhsuk-link">Appointment cancellation failure</a></li>
      <li><a href="change-fail" class="nhsuk-link">Appointment change failure</a></li>
      <li><a href="date-fail" class="nhsuk-link">Appointment date no longer available</a></li>
      <li><a href="slot-fail" class="nhsuk-link">Appointment time no longer available</a></li>
      <li><a href="error" class="nhsuk-link">Error page</a></li>
      <li><a href="technical-error" class="nhsuk-link">Technical error page</a></li>
      <li><a href="ineligible-joint1" class="nhsuk-link">Ineligibility - 1st Person</a> - JOINT BOOKINGS</li>
      <li><a href="ineligible-joint2" class="nhsuk-link">Ineligibility - 2nd person</a> - JOINT BOOKINGS</li>
      <li><a href="booking-no-match-2" class="nhsuk-link">PDS fail - 2nd Person</a> - JOINT BOOKINGS</li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
